h1 {
  text-align: center;
}
#home {
  background-image: url("http://assets.stickpng.com/thumbs/588a6660d06f6719692a2d16.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-size: contain;
}
h2 {
  text-align: center;
  font-size: 20px;
}
#headerimage {
  height:30%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: inline-block;

}
